openapi: 3.0.0
info:
  description: 【おうちハッカソン】バルセロナ動物園
  version: 1.0.0
  title: バルセロナ動物園アプリケーション
  termsOfService: 'http://stoplight.io'
  license:
    name: Apache 2.0
    url: 'http://www.apache.org/licenses/LICENSE-2.0.html'
host: stoplight.io/
tags: null
schemes:
  - https
paths:
  /challengethemes:
    post:
      summary: チャレンジネタ新規作成API
      description: チャレンジネタ新規作成API
      operationId: ''
      consumes:
        - multipart/form-data
      produces:
        - application/json
      parameters:
        - in: formData
          type: file
          name: content
          description: image or video
          required: true
        - in: formData
          type: string
          name: theme_data
          description: JSON
          required: true
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/challenge-theme'
          examples:
            example-1:
              id: 2
              title: トイレットペーパーリフティング
              description: １０秒間でトイレットペーパーを使用して何回リフティングできるか競おう！
              user:
                id: 3
                name: ロナウド
              recordable: true
              is_int: true
              unit: 回
              ranking_type: DESC
              created_at: '2020-05-03 16:04:35'
        '400':
          description: Bad Request
          schema: {}
        '403':
          description: Forbidden
          schema: {}
      security:
        - Authorization: []
      tags:
        - ChallengeThemes
    parameters: []
    get:
      summary: チャレンジネタ一覧取得API
      operationId: get-challengethemes
      produces:
        - application/json
      responses:
        '200':
          description: チャレンジネタのリスト
          schema:
            type: array
            items:
              $ref: '#/definitions/challenge-theme'
          examples:
            example-1:
              - id: 2
                title: トイレットペーパーリフティング
                description: １０秒間でトイレットペーパーを使用して何回リフティングできるか競おう！
                user:
                  id: 3
                  name: ロナウド
                recordable: true
                is_int: true
                unit: 回
                ranking_type: DESC
                created_at: '2020-05-03 16:04:35'
        '400':
          description: Bad Request
          schema: {}
      description: チャレンジネタ一覧取得API
      parameters:
        - type: boolean
          in: query
          name: recordable
      tags:
        - ChallengeThemes
  /users/login:
    parameters: []
    get:
      summary: ''
      operationId: get-users-login
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/user'
          examples:
            example-1:
              id: 4
              name: メッシ
        '400':
          description: Bad Request
          schema: {}
        '401':
          description: Unauthorized
          schema: {}
      security:
        - Authorization: []
  '/challengethemes/{challengeThemesID}':
    parameters:
      - type: integer
        name: challengeThemesID
        in: path
        description: チャレンジテーマID
        required: true
        schema:
          type: integer
    get:
      summary: チャレンジテーマ詳細情報取得（チャレンジレコード一覧取得）
      tags:
        - ChallengeThemes
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/challenge-theme'
          examples:
            example:
              id: 2
              title: トイレットペーパーリフティング
              description: １０秒間でトイレットペーパーを使用して何回リフティングできるか競おう！
              user:
                id: 3
                name: ロナウド
              recordable: true
              is_int: true
              unit: 回
              ranking_type: DESC
              created_at: '2020-05-03 16:04:35'
          content:
            application/json:
              schema:
                $ref: ''
        '404':
          description: Not Found
          schema: {}
      operationId: get-challengetheme-challenge_theme_id
      description: チャレンジテーマ詳細情報取得（チャレンジレコード一覧取得）
  /challengerecords:
    parameters: []
    post:
      summary: 新規チャレンジ記録投稿API
      operationId: post-challengerecords
      consumes:
        - multipart/form-data
      produces:
        - application/json
      requestBody:
        content:
          multipart/form-data:
            schema:
              type: object
              properties:
                id:
                  type: string
                  format: uuid
                address:
                  type: object
                  properties:
                    street:
                      type: string
                    city:
                      type: string
                profileImage:
                  type: string
                  format: binary
      responses:
        '200':
          description: ''
          schema:
            $ref: '#/definitions/challenge-record'
          examples:
            example-1:
              id: 1
              content: url
              comment: 挑戦してみました！
              challenge_theme:
                id: 2
                title: トイレットペーパーリフティング
                description: １０秒間でトイレットペーパーを使用して何回リフティングできるか競おう！
                user:
                  id: 3
                  name: ロナウド
                recordable: true
                is_int: true
                unit: 回
                ranking_type: DESC
                created_at: '2020-05-03 16:04:35'
              user:
                id: 4
                name: メッシ
              record: 30
              created_at: '2020-05-03 16:06:52'
        '400':
          description: Bad Request
          schema: {}
        '403':
          description: Forbidden
          schema: {}
      parameters:
        - in: formData
          name: newRecordData
          description: 新規チャレンジレコードデータ(JSON)
          type: string
        - in: formData
          type: file
          name: content
          description: 画像 or 動画
      security:
        - Authorization: []
      description: 新規チャレンジ記録投稿API
      tags:
        - ChallengeRecord
  '/challengethemes/{challenge_theme_id}/challengerecords':
    parameters:
      - type: string
        name: challenge_theme_id
        in: path
        required: true
    get:
      summary: ''
      tags: []
      responses:
        '200':
          description: ''
          schema:
            type: array
            items:
              $ref: '#/definitions/challenge-record'
          examples:
            example-1:
              - id: 1
                content: url
                comment: 挑戦してみました！
                challenge_theme:
                  id: 2
                  title: トイレットペーパーリフティング
                  description: １０秒間でトイレットペーパーを使用して何回リフティングできるか競おう！
                  user:
                    id: 3
                    name: ロナウド
                  recordable: true
                  is_int: true
                  unit: 回
                  ranking_type: DESC
                  created_at: '2020-05-03 16:04:35'
                user:
                  id: 4
                  name: メッシ
                record: 30
                created_at: '2020-05-03 16:06:52'
        '400':
          description: Bad Request
          schema: {}
        '404':
          description: Not Found
          schema: {}
      operationId: get-challengetheme-challenge_theme_id-challengerecord
      parameters:
        - type: string
          in: query
          name: sort
  '/users/{user_id}/challengethemes':
    parameters:
      - type: string
        name: user_id
        in: path
        required: true
    get:
      summary: ''
      tags: []
      responses:
        '200':
          description: チャレンジネタのリスト
          schema:
            type: array
            items:
              $ref: '#/definitions/challenge-theme'
          examples:
            example-1:
              - id: 2
                title: トイレットペーパーリフティング
                description: １０秒間でトイレットペーパーを使用して何回リフティングできるか競おう！
                user:
                  id: 3
                  name: ロナウド
                recordable: true
                is_int: true
                unit: 回
                ranking_type: DESC
                created_at: '2020-05-03 16:04:35'
        '400':
          description: Bad Request
          schema: {}
        '404':
          description: Not Found
          schema: {}
      operationId: get-users-user_id-challengethemes
      parameters:
        - type: boolean
          in: query
          name: recordable
      description: ''
  '/users/{user_id}/challengerecords':
    parameters:
      - type: string
        name: user_id
        in: path
        required: true
    get:
      summary: ''
      tags: []
      responses:
        '200':
          description: ''
          schema:
            type: array
            items:
              $ref: '#/definitions/challenge-record'
          examples:
            example-1:
              - id: 1
                content: url
                comment: 挑戦してみました！
                challenge_theme:
                  id: 2
                  title: トイレットペーパーリフティング
                  description: １０秒間でトイレットペーパーを使用して何回リフティングできるか競おう！
                  user:
                    id: 3
                    name: ロナウド
                  recordable: true
                  is_int: true
                  unit: 回
                  ranking_type: DESC
                  created_at: '2020-05-03 16:04:35'
                user:
                  id: 4
                  name: メッシ
                record: 30
                created_at: '2020-05-03 16:06:52'
        '400':
          description: Bad Request
          schema: {}
        '404':
          description: Not Found
          schema: {}
      operationId: get-users-user_id-challengerecords
      parameters:
        - type: boolean
          in: query
          name: recordable
  /users:
    post:
      summary: ''
      operationId: post-users
      responses:
        '200':
          description: ''
          schema:
            $ref: '#/definitions/user'
          headers: {}
          examples:
            example-1:
              id: 4
              name: メッシ
        '400':
          description: Bad Request
          schema: {}
        '401':
          description: Unauthorized
          schema: {}
      parameters:
        - in: body
          name: body
          schema:
            type: object
            properties:
              name:
                type: string
            required:
              - name
      security:
        - Authorization: []
  '/users/{user_id}':
    parameters:
      - type: string
        name: user_id
        in: path
        required: true
    get:
      summary: ''
      tags: []
      responses:
        '200':
          description: ''
          schema:
            $ref: '#/definitions/user'
          examples:
            example-1:
              id: 4
              name: メッシ
        '404':
          description: Not Found
          schema: {}
      operationId: get-users-user_id
securityDefinitions:
  Authorization:
    name: X-JWT-TOKEN
    type: apiKey
    in: header
definitions:
  challenge-theme:
    title: challenge-theme
    type: object
    description: ''
    properties:
      id:
        type: integer
      title:
        type: string
      description:
        type: string
      user:
        $ref: '#/definitions/user'
      recordable:
        type: boolean
      is_int:
        type:
          - boolean
          - 'null'
      unit:
        type:
          - string
          - 'null'
      ranking_type:
        type:
          - string
          - 'null'
        enum:
          - ASC
          - DESC
          - FAV
      created_at:
        type: string
        format: date-time
    required:
      - id
      - title
      - description
      - user
      - recordable
      - is_int
      - unit
      - ranking_type
      - created_at
    x-examples:
      example-1:
        id: 2
        title: トイレットペーパーリフティング
        description: １０秒間でトイレットペーパーを使用して何回リフティングできるか競おう！
        user:
          id: 3
          name: ロナウド
        recordable: true
        is_int: true
        unit: 回
        ranking_type: DESC
        created_at: '2020-05-03 16:04:35'
  user:
    title: user
    type: object
    description: ''
    properties:
      id:
        type: integer
      name:
        type: string
    required:
      - id
      - name
    x-examples:
      example-1:
        id: 4
        name: メッシ
  challenge-record:
    title: challenge-record
    type: object
    description: ''
    properties:
      id:
        type: integer
      content:
        type: string
        format: uri
      comment:
        type: string
      challenge_theme:
        $ref: '#/definitions/challenge-theme'
      user:
        $ref: '#/definitions/user'
      record:
        type: number
      created_at:
        type: string
        format: date-time
    required:
      - id
      - content
      - comment
      - challenge_theme
      - user
      - record
      - created_at
    x-examples:
      example-1:
        id: 1
        content: url
        comment: 挑戦してみました！
        challenge_theme:
          id: 2
          title: トイレットペーパーリフティング
          description: １０秒間でトイレットペーパーを使用して何回リフティングできるか競おう！
          user:
            id: 3
            name: ロナウド
          recordable: true
          is_int: true
          unit: 回
          ranking_type: DESC
          created_at: '2020-05-03 16:04:35'
        user:
          id: 4
          name: メッシ
        record: 30
        created_at: '2020-05-03 16:06:52'
  tag:
    title: tag
    type: object
    properties:
      id:
        type: integer
      text:
        type: string
    required:
      - id
      - text
  challenge-record-new:
    title: challenge-record-new
    type: object
externalDocs:
  description: Find out more about StopLight
  url: 'https://stoplight.io/p/mocks/12872/76599//'
basePath: p/mocks/12872/76599/
servers:
  - description: stoplight-server
    url: 'https://stoplight.io/p/mocks/12872/76599/'
components:
  schemas: {}
